In [22]:
import pandas as pd
import io

In [25]:
df = pd.read_csv('clean_data.csv')
df.head()

,Unnamed: 0,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,result
0,0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [26]:
df = df.drop(labels = ["Unnamed: 0"],axis = 1)

In [33]:
s = {'<=50K':0 , '>50K':1}

In [28]:
categorical_cols = df.select_dtypes(include='object').columns
df["result"].dtype

dtype('O')

In [29]:
# Define which columns should be ordinal-encoded and which should be scaled
categorical_cols = df.select_dtypes(include='object').columns
numerical_cols = df.select_dtypes(exclude='object').columns

In [30]:
df[categorical_cols].astype(str)

,workclass,education,marital-status,occupation,relationship,race,sex,native-country,result
0,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,<=50K
1,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States,<=50K
2,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,United-States,<=50K
3,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,Cuba,<=50K
4,Private,Masters,Married-civ-spouse,Exec-managerial,Wife,White,Female,United-States,<=50K
...,...,...,...,...,...,...,...,...,...
32531,Private,Assoc-acdm,Married-civ-spouse,Tech-support,Wife,White,Female,United-States,<=50K
32532,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,United-States,>50K
32533,Private,HS-grad,Widowed,Adm-clerical,Unmarried,White,Female,United-States,<=50K
32534,Private,HS-grad,Never-married,Adm-clerical,Own-child,White,Male,United-States,<=50K
32535,Self-emp-inc,HS-grad,Married-civ-spouse,Exec-managerial,Wife,White,Female,United-States,>50K

In [40]:
df['result'] = df["result"].str.map(["<=50K",">50K"],[0,1])

AttributeError: 'StringMethods' object has no attribute 'map'

array([' <=50K', ' >50K'], dtype=object)